.timestamp{
    display: inline-block;
    width: 100px;
    color: gray;
}

/* initially hide all non root divs */
#detailsDiv div >div{
    display: none;
}

#detailsDiv .step {
    color: #4E6CA3 !important;
    font-weight: bold;
    cursor: pointer;
}

.step.closed:after{
    font-weight: normal;
    font-size: x-small;
    color: gray;
    margin-left: 5px;
    content: " [...]";
}

.step:not(closed):after{
    font-weight: normal;
    font-size: x-small;
    color: gray;
    margin-left: 5px;
    content: " [ - ]";
}

.attrDiv{
    font-size: x-small;
    color: purple;
}

#detailsDiv div.attrDiv {
    margin: 0; /* counter the rule [#detailsDiv div] */
}

.attr{
    font-size: x-small;
    display: inline-block;
    width: 85px;
    padding-right: 15px;
}

.attr:after{
    font-size: x-small;
    content: ":";
}

.attrValue{
    font-size: x-small;
}

#detailsDiv div{
    word-wrap: break-word;
    margin: 5px 0 5px 0;
}

.smallTbl { padding: 0; border: 0; width: 70% ; font-size: small}
h3 {color: gray ; font-size: small}
img {width: 100px}

.innerToggle {
    cursor: pointer;
    text-decoration: underline;
}

.startLevel {   
    font-weight: normal;
    cursor: pointer;
}

.startLevel.closed:after{
    font-weight: normal;
    font-size: x-small;
    color: gray;
    margin-left: 5px;
    content: " [...]";
}

.emptyStartLevel,
.startLevel:not(closed):after{
    font-weight: normal;
    font-size: x-small;
    color: gray;
    margin-left: 5px;
    content: " [ - ]";
}

.pointer{
    cursor: pointer;
}