.timestamp{
    padding-right: 10px;
    color: gray;
}

/* initially hide all non root divs */
#detailsDiv div >div{
    display: none;
}

#detailsDiv .step {color: #4E6CA3 !important; font-weight: bold;}

#detailsDiv div{
    word-wrap: break-word;
    margin: 5px 0 5px 0;
}

.smallTbl { padding: 0; border: 0; width: 70% ; font-size: small}
h3 {color: gray ; font-size: small}
img {width: 100px}

.innerToggle {
    cursor: pointer;
    text-decoration: underline;
}

.startLevel {   
    font-weight: normal;
    cursor: pointer;
}

.startLevel.closed:after{
    font-weight: normal;
    font-size: x-small;
    color: gray;
    margin-left: 5px;
    content: " [...]";
}

.emptyStartLevel,
.startLevel:not(closed):after{
    font-weight: normal;
    font-size: x-small;
    color: gray;
    margin-left: 5px;
    content: " [ - ]";
}

.keywordHeading {   
    cursor: pointer;
    font-weight: bold;
}

.keywordHeading.closed:after{
    font-weight: normal;
    font-size: x-small;
    color: gray;
    margin-left: 5px;
    content: " [...]";
}

.emptyStartLevel,
.keywordHeading:not(closed):after{
    font-weight: normal;
    font-size: x-small;
    color: gray;
    margin-left: 5px;
    content: " [ - ]";
}

.pointer{
    cursor: pointer;
}